<% layout('../../../layouts/admin/app') -%>
<% stylesheet('/stylesheets/vendor/fontawesome/css/all.min.css') -%>
<% stylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') -%>
<% stylesheet('/stylesheets/admin/adminlte.min.css') -%>
<% stylesheet('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') -%>
<% stylesheet('/stylesheets/vendor/overlayScrollbars/css/OverlayScrollbars.min.css') -%>
<div class="content-wrapper" style="min-height: 594.491px;">
  <!-- Content Header (Page header) -->

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>All current Post Categories</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <form action="/admin/category/create" method="post">
            <div class="form-group">
              <label for="category_input">Add a new category</label>
              <input class="form-control" type="text" name="category_name" id="category_input">
              <button class="btn btn-info mt-2" type="submit">Submit</button>
            </div>
          </form>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Hover Data Table</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="data-table" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>PCID</th>
                  <th>Category Name</th>
                  <th>Category Slug</th>
                  <th>Created At</th>
                  <th>Last Updated</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <% categories.forEach(category => {  %>
                    <tr>
                      <td><%= category.id%> </td>
                      <td><%= category.category_name%> </td>
                      <td><%= category.category_slug%> </td>
                      <td><%= moment(category.created_at).format('DD/MM/YYYY, h:mm:ss a') %></td>
                      <td><%= moment(category.updated_at).format('DD/MM/YYYY, h:mm:ss a') %></td>
                      <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-category-<%= category.category_slug%>">
                          Edit
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-category-<%= category.category_slug%>">
                          Destroy
                        </button>
                        <div class="modal fade" id="edit-category-<%= category.category_slug%>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="ModalLabel">Change current category info</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form method="POST" action="/admin/category/edit/<%= category.category_slug%>" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                                  <input type="hidden" name="_method" value="put">
                                  <div class="modal-body">
                                      <div class="form-group">
                                        <label for="inputName" class="col-sm-3 control-label">Category Name</label>
                                        <div class="col-sm-10">
                                          <input type="text" name="category_name" class="form-control" id="inputName" value="<%= category.category_name%>">
                                        </div>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                        </div>
                        <div class="modal fade" id="delete-category-<%= category.category_slug%>" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="Modal-label-2">Are you sure you want to destroy this shitty category</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form method="POST" action="/admin/category/delete/<%= category.category_slug%>" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                                  <input type="hidden" name="_method" value="delete">
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Destroy</button>
                                  </div>
                                </form>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr> 
                  <%  }); %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  <!-- /.content -->
</div>

<% script('/javascripts/vendor/jquery/jquery.min.js') -%>
<% script('/javascripts/vendor/bootstrap/bootstrap.bundle.min.js') -%>
<% script('/javascripts/vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js') -%>
<% script('/javascripts/admin/adminlte.js') -%>
<% script('/javascripts/admin/demo.js') -%>
