<% layout('../../../layouts/admin/app') -%>
<!-- Font Awesome -->
<% stylesheet('/stylesheets/vendor/fontawesome/css/all.min.css') -%>
<!-- Ionicons -->
<% stylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') -%>
<!-- overlayScrollbars -->
<% stylesheet('/stylesheets/vendor/overlayScrollbars/css/OverlayScrollbars.min.css') -%>
<!-- Theme style -->
<% stylesheet('/stylesheets/admin/adminlte.min.css') -%>
<!-- Confirmation Box -->
<% stylesheet('/stylesheets/admin/confirmation-box/confirmation.css') -%>
<!-- Google Font: Source Sans Pro -->
<% stylesheet('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') -%>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>All current Posts</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">All current Posts</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Hover Data Table</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>PID</th>
                <th>Post Title</th>
                <th>Post Category</th>
                <th>Post Slug</th>
                <th>User Created</th>
                <th>Created At</th>
                <th>Last Updated</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <% posts.forEach(post => {  %>
                  <tr>
                    <td><%= post.PID %> </td>
                    <td><%= post.title %> </td>
                    <td><a href="/admin/categories"><%= post.category_name %> </td>
                      <td><%= post.postSlug %> </td>
                    <td><a href="/admin/users/<%= post.userSlug%>"><%= post.name %></a> </td>
                    <td><%= moment(post.postCreatedAt).format('DD/MM/YYYY, h:mm:ss a') %></td>
                    <td><%= moment(post.postUpdatedAt).format('DD/MM/YYYY, h:mm:ss a') %></td>
                    <td>
                      <a class="btn btn-warning" href="/post/<%= post.category_slug%>/<%= post.postSlug%>">Show</a>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-post-<%= post.postSlug%>">
                        Edit
                      </button>
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-post-<%= post.postSlug%>">
                        Destroy
                      </button>
                      <div class="modal fade" id="edit-post-<%= post.postSlug%>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Change current post info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form method="POST" action="/admin/post/edit/<%= post.postSlug%>" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                                <input type="hidden" name="_method" value="put">
                                <div class="modal-body">
                                    <div class="form-group">
                                      <label for="inputTitle" class="col-sm-3 control-label">Post Title</label>
              
                                      <div class="col-sm-10">
                                        <input type="text" name="title" class="form-control" id="inputTitle" value="<%= post.title %>">
                                      </div>
                                    </div>
                                    <!-- <div class="form-group">
                                      <label for="inputProductType" class="col-sm-3 control-label">Post Category</label>
                                      <div class="col-sm-10">
                                        <input type="text" name="category" class="form-control" id="inputProductType" value="<%= post%>">
                                      </div>
                                    </div> -->
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                              </form>
                            </div>
                          </div>
                      </div>
                      <div class="modal fade" id="delete-post-<%= post.postSlug %>" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="Modal-label-2">Are you sure you want to destroy this shitty post?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form method="POST" action="/admin/post/delete/<%= post.postSlug%>" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                                <input type="hidden" name="_method" value="delete">
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-danger">Destroy</button>
                                </div>
                              </form>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr> 
                <%  }); %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  
  <!-- /.content -->
</div>
<% script('/javascripts/vendor/fastclick/fastclick.js') -%>
<% script('/javascripts/vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js') -%>
<!-- AdminLTE App -->
<% script('/javascripts/admin/adminlte.js') -%>
<% script('/javascripts/admin/confirmation-box/confirmation.js') -%>
<!-- AdminLTE for demo purposes -->
<% script('/javascripts/admin/demo.js') -%>
<% script('/javascripts/admin/navbar.js') -%>