<!-- Header Main -->
<header class="header-main container-fluid no-padding">	
    <!-- Container -->
    <div class="container">
        <!-- Top Header  -->
        <div class="top-header container-fluid no-padding">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-5 our-contacts">
                    <p><i class="fa fa-phone"></i><a href="tel:+1-92-456-7890" title="Phone" class="phone">Call at: <span>+1-92-456-7890</span></a></p>
                    <p><i class="fa fa-envelope-o"></i><a href="mailto:info@pizzakitchen.com" title="info@pizzakitchen.com">Mail at: info@pizzakitchen.com</a></p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 logo-block">
                    <a title="Logo" href="index.html" class="navbar-brand"><img src="/images/client/blog/logo.png" alt="logo" /></a>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-7 header-social">
                <ul class="cart">
                    <li>
                        <% if(!loggedIn) { %>
                            <a class="btn" href="/login">Login</a>
                        <% }; %>
                        
                        <% if(userinfo) { %>    
                            <div class="dropdown">
                                <button class="dropbtn"><%- userinfo.name %></button>
                                <div class="dropdown-content">
                                    <a href="#">Show your Profile</a>
                                    <a href="/logout">Logout</a>
                                </div>
                            </div>
                            
                        <% }; %>
                    </li>
                </ul>
                </div>
            </div>
        </div><!-- Top Header /- -->
    
        <!-- Menu Block -->
        <div class="menu-block container-fluid no-padding">
            <!-- Navigation -->
            <nav class="navbar ow-navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a title="Logo1" href="index.html" class="navbar-brand logo-1">Pizza Kitchen</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a title="About Us" href="/">Home</a></li>
                        <li><a title="About Us" href="/products">Our Product</a></li>
                        <li><a title="Booking" href="booking.html">Booking</a></li>
                        <li><a title="Contact Us" href="contact-us.html">Contact Us</a></li>
                    </ul>						
                </div>
            </nav><!-- Navigation -->
        </div><!-- Menu Block /- -->
    </div><!-- Container /- -->
</header><!-- Header Main /- -->