<% layout('../../../layouts/admin/app') -%>
<!-- Font Awesome -->
<% stylesheet('/stylesheets/vendor/fontawesome/css/all.min.css') -%>
<!-- Ionicons -->
<% stylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') -%>
<!-- overlayScrollbars -->
<% stylesheet('/stylesheets/vendor/overlayScrollbars/css/OverlayScrollbars.min.css') -%>
<!-- Theme style -->
<% stylesheet('/stylesheets/admin/adminlte.min.css') -%>
<!-- Confirmation Box -->
<% stylesheet('/stylesheets/admin/confirmation-box/confirmation.css') -%>
<!-- Google Font: Source Sans Pro -->
<% stylesheet('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') -%>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Create a new product</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Create a new product</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-12">
            <form action="/admin/products/create" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                <label for="productType">Product Type</label>
                <select class="form-control" id="productType" name="product_type_name">
                    <option disabled selected value> Select Product Type </option>
                    <% productTypes.forEach(productType => { %>
                        <option value="<%= productType.product_type_name %>"><%= productType.product_type_name %></option>
                    <% }); %>
                </select>
                </div>
                <a style="cursor:pointer;color: blue;" data-toggle="modal" data-target="#createProduct">
                    Want to create a new product type? Click here 
                </a>

                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" class="form-control" name="product_name" id="productName">
                </div>
                <div class="form-group">
                    <label for="productPrice">Product Price</label>
                    <input type="number" class="form-control" name="price" id="productPrice">
                </div>
                <div class="form-group">
                    <label for="productDescription">Product Description</label>
                    <textarea type="text" name="description"class="form-control" id="productDescription" rows="4" cols="50"></textarea>
                </div>
                <div class="form-group">
                    <label for="productImage">Product Images</label>
                    <input type="file" class="form-control" name="productImage" id="productImage" multiple>
                </div>
                <button class="btn btn-danger" type="submit">Submit</button>
            </form>
            <!-- Modal for creating product type -->
            <div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="productLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <form action="/admin/product-type/create" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="productLabel">Create your product type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="productTypeName">Product Type Name</label>
                            <input type="text" class="form-control" name="product_type_name" id="productTypeName">
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </form>
                </div>
            </div>
        </div>
        </div>
        <!-- /.row -->
    </section>
    
    <!-- /.content -->
    </div>
<% script('/javascripts/vendor/fastclick/fastclick.js') -%>
<% script('/javascripts/vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js') -%>
<!-- AdminLTE App -->
<% script('/javascripts/admin/adminlte.js') -%>
<% script('/javascripts/admin/confirmation-box/confirmation.js') -%>
<!-- AdminLTE for demo purposes -->
<% script('/javascripts/admin/demo.js') -%>
<% script('/javascripts/admin/navbar.js') -%>