<% layout('../../../layouts/admin/app') -%>
<!-- Font Awesome -->
<% stylesheet('/stylesheets/vendor/fontawesome/css/all.min.css') -%>
<!-- overlayScrollbars -->
<% stylesheet('/stylesheets/vendor/overlayScrollbars/css/OverlayScrollbars.min.css') -%>
<!-- Ionicons -->
<% stylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') -%>
<!-- Confirmation Box -->
<% stylesheet('/stylesheets/admin/confirmation-box/confirmation.css') -%>
<!-- Theme style -->
<% stylesheet('/stylesheets/admin/adminlte.min.css') -%>
<!-- Google Font: Source Sans Pro -->
<% stylesheet('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') -%>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>User Management</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Users Tables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All current users</h3>
                <div class="card-tools">
                  <form action="">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="q" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Action</th>
                  </tr>
                  <% users.forEach(user => { %>
                    <tr>
                      <td><%= user.id %></td>
                      <td><%= user.name %></td>
                      <td><%= user.username %></td>
                      <td><%= user.email %></td>
                      <td><%= moment(user.created_at).format('DD/MM/YYYY, h:mm:ss a') %></td>
                      <td>
                        <a class="btn btn-warning" href="/admin/users/<%= user.slug %>">Show</a>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-user-<%= user.slug %>">
                          Edit
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-user-<%= user.slug %>">
                          Destroy
                        </button>
                        <div class="modal fade" id="edit-user-<%= user.slug %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Change current user info</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form method="POST" action="/admin/users/edit/<%= user.slug %>" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                                  <input type="hidden" name="_method" value="put">
                                  <div class="modal-body">
                                    <div class="form-group">
                                      <label for="inputName" class="col-sm-3 control-label">Username</label>
              
                                      <div class="col-sm-10">
                                        <input type="text" name="username" class="form-control" id="inputName" placeholder="Username" value="<%= user.username %>">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                                      <div class="col-sm-10">
                                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" value="<%= user.email %>">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputName2" class="col-sm-3 control-label">Name</label>
              
                                      <div class="col-sm-10">
                                        <input type="text" name="name" class="form-control" id="inputName2" placeholder="Name" value="<%= user.name %>">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                        </div>
                          <div class="modal fade" id="delete-user-<%= user.slug %>" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="Modal-label-2">Are you sure you want to destroy this shitty user</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form method="POST" action="/admin/users/delete/<%=user.slug%>" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                                  <input type="hidden" name="_method" value="delete">
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Destroy</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                      </td>
                    </tr>
                  <% }); %>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<!-- jQuery -->
<% script('/javascripts/vendor/jquery/jquery.min.js') -%>
<!-- Bootstrap 4 -->
<% script('/javascripts/vendor/bootstrap/bootstrap.bundle.min.js') -%>
<!-- overlayScrollbars -->
<% script('/javascripts/vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js') -%>
<!-- FastClick -->
<% script('/javascripts/vendor/fastclick/fastclick.js') -%>
<!-- AdminLTE App -->
<% script('/javascripts/admin/adminlte.js') -%>
<!-- Confirmation Box -->
<% script('/javascripts/admin/confirmation-box/confirmation.js') -%>
<!-- AdminLTE for demo purposes -->
<% script('/javascripts/admin/demo.js') -%>
<% script('/javascripts/admin/navbar.js') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>