<aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/admin" class="brand-link">
            <img src="/images/admin/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>
    
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/images/admin/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/admin/users/<%= userinfo.slug %>" class="d-block"><%= userinfo.username %></a>
            </div>
            </div>
    
            <!-- Sidebar Menu -->
            <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                        Dashboard
                        <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item item-active-control">
                            <a href="/admin" class="nav-link navbar-control">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v1</p>
                            </a>
                        </li>
                        <li class="nav-item item-active-control">
                            <a href="/admin/dashboard-2" class="nav-link navbar-control">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v2</p>
                            </a>
                        </li>
                        <li class="nav-item item-active-control">
                            <a href="/admin/dashboard-3" class="nav-link navbar-control">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                        User management
                        <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item item-active-control">
                        <a href="/admin/users" class="nav-link navbar-control">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Show all current users</p>
                        </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-plus-square"></i>
                        <p>
                        Product management
                        <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item item-active-control">
                        <a href="/admin/products" class="nav-link navbar-control">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Show all Products</p>
                        </a>
                        </li>
                        <li class="nav-item item-active-control">
                            <a href="/admin/product-types" class="nav-link navbar-control">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Show all Product Types</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-plus-square"></i>
                        <p>
                        Post management
                        <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item item-active-control">
                        <a href="/admin/posts" class="nav-link navbar-control">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Show all Posts</p>
                        </a>
                        </li>
                        <li class="nav-item item-active-control">
                            <a href="/admin/categories" class="nav-link navbar-control">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Show all Product Category</p>
                            </a>
                        </li>
                        <li class="nav-item item-active-control">
                            <a href="/admin/tags" class="nav-link navbar-control">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Show all tags</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    </aside>