<% layout('../../../layouts/admin/app') -%>
<% stylesheet('/stylesheets/vendor/fontawesome/css/all.min.css') -%>
<% stylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') -%>
<% stylesheet('/stylesheets/admin/adminlte.min.css') -%>
<% stylesheet('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') -%>
<% stylesheet('/stylesheets/vendor/overlayScrollbars/css/OverlayScrollbars.min.css') -%>
<div class="content-wrapper" style="min-height: 594.491px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Product</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Product Page</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">

          <!-- Product Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <% products.forEach(product => { %>
                        <div class="carousel-item">
                          <img class="w-100" src="<%= product.image_url %>"height="700" >
                        </div>
                      <% }) %>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="border-bottom col-12">
                  <h2><%= products[0].product_name %></h2>
                </div>

                <div class="mt-3 col-12">
                  <span>Price:</span>
                  <span class="text-danger font-size-4"><%= products[0].price %> (VND) </span>
                </div>

                <div class="mt-3 col-12">
                  <span>Seller:</span>
                  <span><%= products[0].name %>( Username : <%= products[0].username %> ) </span>
                </div>

                <div class="border-bottom mt-3 pb-3 col-12">
                  <span>Type of product:</span>
                  <span><%= products[0].product_type_name %></span>
                </div>

                <div class="mt-3 col-12">
                  <p>Product information: </p>
                  <span><%= products[0].description %></span>
                </div>
  
              </div>
            </div><!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<% script('/javascripts/vendor/jquery/jquery.min.js') -%>
<% script('/javascripts/vendor/bootstrap/bootstrap.bundle.min.js') -%>
<% script('/javascripts/vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js') -%>
<% script('/javascripts/admin/adminlte.js') -%>
<% script('/javascripts/admin/demo.js') -%>
<% script('/javascripts/admin/navbar.js') -%>