<% layout('../../../layouts/admin/app') -%>
<!-- Font Awesome -->
<% stylesheet('/stylesheets/vendor/fontawesome/css/all.min.css') -%>
<!-- Ionicons -->
<% stylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') -%>
<!-- overlayScrollbars -->
<% stylesheet('/stylesheets/vendor/overlayScrollbars/css/OverlayScrollbars.min.css') -%>
<!-- Theme style -->
<% stylesheet('/stylesheets/admin/adminlte.min.css') -%>
<!-- Confirmation Box -->
<% stylesheet('/stylesheets/admin/confirmation-box/confirmation.css') -%>
<!-- Google Font: Source Sans Pro -->
<% stylesheet('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') -%>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>All current Products</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">All current Products</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Hover Data Table</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>PID</th>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Description</th>
                <th>User Created</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <% products.forEach(product => {  %>
                  <tr>
                    <td><%= product.product_id%> </td>
                    <td><%= product.product_name%> </td>
                    <td><a href="/admin/product-types"><%= product.product_type_name%> </td>
                    <td><%= product.description%> </td>
                    <td><a href="/admin/users/<%= product.user_slug%>"><%= product.username%></a> </td>
                    <td><%= moment(product.product_created_at).format('DD/MM/YYYY, h:mm:ss a') %></td>
                    <td>
                      <a class="btn btn-warning" href="/admin/product/<%= product.product_type_slug%>/<%= product.product_slug%>">Show</a>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-product-<%= product.product_slug%>">
                        Edit
                      </button>
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-product-<%= product.product_slug%>">
                        Destroy
                      </button>
                      <div class="modal fade" id="edit-product-<%= product.product_slug%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Change current product info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form method="POST" action="/admin/products/edit/<%= product.product_slug%>" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                                <input type="hidden" name="_method" value="put">
                                <div class="modal-body">
                                    <div class="form-group">
                                      <label for="inputName" class="col-sm-3 control-label">Product Name</label>
              
                                      <div class="col-sm-10">
                                        <input type="text" name="product_name" class="form-control" id="inputName" value="<%= product.product_name%>">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputProductType" class="col-sm-3 control-label">Product Type</label>
                                      <div class="col-sm-10">
                                        <input type="text" name="product_type_name" class="form-control" id="inputProductType" value="<%= product.product_type_name%>">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="productDescription" class="col-sm-3 control-label">Product Description</label>
                                      <div class="col-sm-10">
                                        <textarea type="text" name="description"class="form-control" id="productDescription" rows="4" cols="50"><%= product.description %></textarea>
                                      </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                              </form>
                            </div>
                          </div>
                      </div>
                      <div class="modal fade" id="delete-product-<%= product.product_slug%>" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="Modal-label-2">Are you sure you want to destroy this shitty product</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form method="POST" action="/admin/products/delete/<%= product.product_slug%>" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                                <input type="hidden" name="_method" value="delete">
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-danger">Destroy</button>
                                </div>
                              </form>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr> 
                <%  }); %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  
  <!-- /.content -->
</div>
<% script('/javascripts/vendor/fastclick/fastclick.js') -%>
<% script('/javascripts/vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js') -%>
<!-- AdminLTE App -->
<% script('/javascripts/admin/adminlte.js') -%>
<% script('/javascripts/admin/confirmation-box/confirmation.js') -%>
<!-- AdminLTE for demo purposes -->
<% script('/javascripts/admin/demo.js') -%>
<% script('/javascripts/admin/navbar.js') -%>