<% layout('../../../layouts/client/app') -%>
<% stylesheet('/stylesheets/client/blog/style.css') -%>

<main class="site-main page-spacing">
	<!-- Page Banner -->
	<div class="page-banner container-fluid no-padding">
		<div class="banner-content">
			<h3>Blog</h3>
			<ol class="breadcrumb">
				<li><a href="/" title="Home">Home</a></li>							
				<li class="active">Blog</li>
			</ol>
		</div>
	</div><!-- Page Banner /- -->
	
	<!-- Blog Section -->
	<div class="latest-blog blog-section container-fluid no-padding">
		<div class="section-padding">
		</div>
		<!-- Container -->
		<div class="container">
			<!-- Content Area -->
			<div class="content-area col-md-8 col-sm-7 col-xs-12">
				<% categories.forEach(category => { %>
					<a href="/category/<%= category.category_slug %>"><h3>Category :<%= category.category_name %></h3></a>
					<% posts.forEach(post => { %>
						<% if (post.category_name == category.category_name) { %>
							<article class="type-post">
								<div class="entry-cover">
									<a title="Latest Blog" href="/post/<%= post.category_slug %>/<%= post.postSlug %>">
										<img width="760" height="350" alt="latest-blog" src="<%= post.image_url %>">
									</a>
								</div>
								<div class="latest-blog-content">
									<h3 class="entry-title"><a title="Click to view more" href="/post/<%= post.category_slug %>/<%= post.postSlug %>"><%= post.title %></a></h3>
									<div class="entry-meta">
										<span>By</span><a href="#"><%= post.name %></a>
										<a href="#"><%= moment(post.postCreatedAt).format('MMM Do YYYY, h:mm:ss') %></a>
									</div>
								</div>
							</article>
						<% } %>
					<% }) %>
				<% }); %>
				
				<nav class="ow-pagination">
					<ul class="pagination">
						<li class="previous"><a href="#">&laquo;&nbsp;&nbsp;Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
						<li class="next"><a href="#">Next&nbsp;&nbsp;&raquo;</a></li>
					</ul>
				</nav>
			</div><!-- Content Area /- -->
			
			<div class="col-md-4 col-sm-5 col-xs-12 widget-area">
				<a class="btn btn-danger" href="/post/create">Post something new</a>
				<!-- Widget Search -->
				<aside class="widget widget-search">
					<h3 class="widget-title">Search keywords</h3>
					<img src="/images/client/blog/quote-ic-3.png" alt="quote-ic">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search here...">
						<span class="input-group-btn">
							<button class="btn btn-search" title="Search" type="button"><i class="icon icon-Search"></i></button>
						</span>
					</div>
				</aside><!-- Widget Search /- -->
				
				<!-- Widget Categories -->
				<aside class="widget widget-categories">
					<h3 class="widget-title">Categories</h3>
					<img src="/images/client/blog/quote-ic-3.png" alt="quote-ic">
					<ul>
						<% categories.forEach(category => { %>
							<li><a href="/category/<%= category.category_slug %>" title="Mexican Green Wave"><%= category.category_name %></a></li>
						<% }); %>
					</ul>
				</aside><!-- Widget Categories /-  -->
			</div>
			
		</div><!-- Container /- -->
		<div class="section-padding"></div>
	</div><!-- Blog Section /- -->
	
	<!-- Subscribe Section -->
	<div class="subscribe-section container-fluid no-padding">
		<!-- Container -->
		<div class="container">
			<div class="subscribe-content">
				<h3>SIGNUP TO OUR NEWSLETTER</h3>
				<div class=" col-md-6 col-sm-8 col-xs-10 input-group">
					<input type="text" placeholder="Enter Your Email" class="form-control">
					<span class="input-group-btn">
						<button type="button" title="Sign Up" class="btn btn-default">Subcribe</button>
					</span>
				</div><!-- /input-group -->
			</div>
		</div><!-- Container /- -->
	</div><!-- Subscribe Section /- -->
</main>

	
<% script('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js') -%>
<% script('/javascripts/client/blog/lib.js') -%>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE') -%>
<% script('/javascripts/client/blog/functions.js') -%>
<% script('https://cdn.tiny.cloud/1/wz95oujp41x307jw7qvs6eirceukqvhhp3uv7uhr7w41zbji/tinymce/5/tinymce.min.js') -%>
