<% layout('../../../layouts/client/app') -%>
<% stylesheet('/stylesheets/client/blog/style.css') -%>
	
<main class="site-main page-spacing">
	<!-- Page Banner -->
	<div class="page-banner container-fluid no-padding">
		<div class="banner-content">
			<h3>Blog</h3>
			<ol class="breadcrumb">
				<li><a href="/" title="Home">Home</a></li>							
				<li class="active">Blog</li>
			</ol>
		</div>
	</div><!-- Page Banner /- -->
	
	<!-- Blog Post -->
	<div class="latest-blog blog-section blog-post container-fluid no-padding">
		<div class="section-padding"></div>
		<!-- Container -->
		<div class="container">
			<!-- Content Area -->
			<div class="content-area col-sm-12">
				<article class="type-post">
					<div class="entry-cover">
						<img width="760" height="350" alt="latest-blog" src="<%= post[0].image_url %>">
					</div>
					<div class="latest-blog-content">
						<h1 class="entry-title"><%= post[0].title %></h1>
						<div class="entry-meta">
							<span>By</span><a href="#"><%= post[0].name %></a>
							<a href="#"><%= moment(post[0].postCreatedAt).format('MMM Do YYYY, h:mm:ss') %></a>
						</div>
					</div>
					<div class="entry-content">
						<%- post[0].contents %>

						<div class="tags-social">
							<div class="tags">
								<h3 class="tags-social-heading">Tags:</h3>
							<% post.forEach(value => { %>
								<a href="/tag/<%= value.tag_name %>"><%= value.tag_name %></a>
							<% }) %>

							</div>
							<div class="social-share pull-right">
								<h3 class="tags-social-heading">Shares:</h3>
								<ul>
									<li><a href="#" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</article>

				<div class="comment-section">
					<div class="section-heading">
						<h3>Comments (3)</h3>
					</div>
					<ul class="media-list">
						<li class="media">
							<div class="media-left">
								<a href="#" title="Peter Hein"><img src="/images/client/blog/avtar-1.jpg" alt="comment" width="70" height="70"></a>								
							</div>
							<div class="media-body">
								<div class="media-content">
									<h4 class="media-heading">david bechkam</h4>
									<a href="#" title="Reply"><i class="fa fa-reply-all" aria-hidden="true"></i>Reply</a>
									<span>20 January 2016 at 11:30 am</span>
									<p>The youngest one in curls knight Rider a shadowy flight into the dangerous world of a man who does not exist a shadowy flight into the dangerous world of a man who does not exist leagues.</p>
								</div> 
							</div>
						</li>
						<li class="media media-even">
							<div class="media-left">
								<a href="#" title="William Stark"><img src="/images/client/blog/avtar-2.jpg" alt="comment" width="70" height="70"></a>
							</div>
							<div class="media-body">
								<div class="media-content">
									<h4 class="media-heading">JOE AUGUZ</h4>
									<a href="#" title="Reply"><i class="fa fa-reply-all" aria-hidden="true"></i>Reply</a>
									<span>05 February 2016 at 10:00 am</span>
									<p>The youngest one in curls knight Rider a shadowy flight into the dangerous world of a man who does not exist a shadowy flight into the dangerous.</p>
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<a href="#" title="Andrew Smith"><img src="/images/client/blog/avtar-3.jpg" alt="comment" width="70" height="70"></a>
							</div>
							<div class="media-body">
								<div class="media-content">
									<h4 class="media-heading">JAIMUN JAMES</h4>
									<a href="#" title="Reply"><i class="fa fa-reply-all" aria-hidden="true"></i>Reply</a>
									<span>15 March 2016 at 01:40 pm</span>
									<p>The youngest one in curls knight Rider a shadowy flight into the dangerous world of a man who does not exist a shadowy flight into the dangerous world of a man who does not exist leagues.</p>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="comment-form">
					<div class="section-heading">
						<h3>POST YOUR COMMENTS</h3>
					</div>
					<form class="row">
						<div class="form-group col-md-6">
							<input type="text" required="" placeholder="Name *" class="form-control">
						</div>
						<div class="form-group col-md-6">
							<input type="text" required="" placeholder="EMail *" class="form-control">
						</div>												
						<div class="form-group col-md-12">
							<textarea placeholder="Message" rows="6" class="form-control"></textarea>
						</div>
						<input type="submit" title="Submit" value="Submit" name="Submit">
					</form>
				</div>
			</div><!-- Content Area /- -->
			
		</div><!-- Container /- -->
		<div class="section-padding"></div>
	</div><!-- Blog Post /- -->
	
	<!-- Subscribe Section -->
	<div class="subscribe-section container-fluid no-padding">
		<!-- Container -->
		<div class="container">
			<div class="subscribe-content">
				<h3>SIGNUP TO OUR NEWSLETTER</h3>
				<div class=" col-md-6 col-sm-8 col-xs-10 input-group">
					<input type="text" placeholder="Enter Your Email" class="form-control">
					<span class="input-group-btn">
						<button type="button" title="Sign Up" class="btn btn-default">Subcribe</button>
					</span>
				</div><!-- /input-group -->
			</div>
		</div><!-- Container /- -->
	</div><!-- Subscribe Section /- -->
</main>

<% script('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js') -%>
<% script('/javascripts/client/blog/lib.js') -%>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE') -%>
<% script('/javascripts/client/blog/functions.js') -%>
<% script('https://cdn.tiny.cloud/1/wz95oujp41x307jw7qvs6eirceukqvhhp3uv7uhr7w41zbji/tinymce/5/tinymce.min.js') -%>