<% layout('../../../layouts/client/app') -%>
<% stylesheet('/stylesheets/client/blog/style.css') -%>

<main class="site-main page-spacing">
	<!-- Page Banner -->
	<div class="page-banner container-fluid no-padding">
		<div class="banner-content">
			<h3>Blog</h3>
			<ol class="breadcrumb">
				<li><a href="index.html" title="Home">Home</a></li>							
				<li class="active">Blog</li>
			</ol>
		</div>
	</div><!-- Page Banner /- -->
	
	<!-- Blog Section -->
	<div class="latest-blog blog-section container-fluid no-padding">
		<div class="section-padding">
		</div>
		<!-- Container -->
		<div class="container">
			<!-- Content Area -->
			<div class="col-12">
                <form action="/product/create" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                    <label for="productType">Product Type</label>
                    <select class="form-control" id="productType" name="product_type_name">
                        <option disabled selected value> Select Product Type </option>
                        <% productTypes.forEach(productType => { %>
                            <option value="<%= productType.product_type_name %>"><%= productType.product_type_name %></option>
                        <% }); %>
                    </select>
                    </div>
                
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" class="form-control" name="product_name" id="productName">
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Product Price</label>
                        <input type="number" class="form-control" name="price" id="productPrice">
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Product Description</label>
                        <textarea type="text" name="description"class="form-control" id="productDescription" rows="4" cols="50"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productImage">Product Images</label>
                        <input type="file" class="form-control" name="productImage" id="productImage" multiple>
                    </div>
                    <button class="btn btn-danger" type="submit">Submit</button>
                </form>
			</div>
			
		</div><!-- Container /- -->
		<div class="section-padding"></div>
	</div><!-- Blog Section /- -->
	
	<!-- Subscribe Section -->
	<div class="subscribe-section container-fluid no-padding">
		<!-- Container -->
		<div class="container">
			<div class="subscribe-content">
				<h3>SIGNUP TO OUR NEWSLETTER</h3>
				<div class=" col-md-6 col-sm-8 col-xs-10 input-group">
					<input type="text" placeholder="Enter Your Email" class="form-control">
					<span class="input-group-btn">
						<button type="button" title="Sign Up" class="btn btn-default">Subcribe</button>
					</span>
				</div><!-- /input-group -->
			</div>
		</div><!-- Container /- -->
	</div><!-- Subscribe Section /- -->
</main>

<% script('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js') -%>
<% script('/javascripts/client/blog/lib.js') -%>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE') -%>
<% script('/javascripts/client/blog/functions.js') -%>
<% script('https://cdn.tiny.cloud/1/wz95oujp41x307jw7qvs6eirceukqvhhp3uv7uhr7w41zbji/tinymce/5/tinymce.min.js') -%>
<% script('/javascripts/tinyMCE/tiny.js') -%>

