<% layout('../../../layouts/client/app') -%>
<% stylesheet('/stylesheets/client/blog/style.css') -%>

<main class="site-main page-spacing">
    <!-- Page Banner -->
    <div class="page-banner container-fluid no-padding">
        <div class="banner-content">
            <h3>Gallery</h3>
            <ol class="breadcrumb">
                <li><a href="index.html" title="Home">Home</a></li>							
                <li class="active">Gallery</li>
            </ol>
        </div>
    </div><!-- Page Banner /- -->
    
    <!-- Gallery Section 1  -->
    <div class="gallery-section gallery-section-1 container-fluid no-padding">
    <div class="section-padding">
        <a class="btn btn-danger" href="/post/create">Post something new</a>
    </div>
        <ul class="portfolio-list">
            <% if(products[0].product_name == null) { %>
                <h3>Product Type : <%= products[0].product_type_name %></h3>
                <h5>There are nothing in this type of product</h5>
            <% } else { %>
                <a class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 3rem;" href="/product-type/<%= products[0].product_type_slug %>"><h3><%= products[0].product_type_name %></h3></a>
                <% products.forEach((product,i) => { %>
                    <% const count = i; %>
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="content-image-block">
                            <a href="/product/<%= product.product_type_slug %>/<%= product.product_slug %>"><img src="<%= product.image_url %>" alt="gallery" width="450" height="400"></a>
                            <div class="content-block-hover">
                                <a href="#" title="Search"><i class="icon icon-Search"></i></a>
                                <a href="/product/<%= product.product_type_slug %>/<%= product.product_slug %>" title="Link"><i class="icon icon-FullScreen"></i></a>
                                <h3><%= product.product_name %></h3>
                                <p>Price: <%= product.price %></p>
                            </div>
                        </div>
                    </li>
                <% }) %>
            <% } %>
        </ul>
        <nav class="ow-pagination">
            <ul class="pagination">
                <li class="previous"><a href="#">&laquo;&nbsp;&nbsp;Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                <li class="next"><a href="#">Next&nbsp;&nbsp;&raquo;</a></li>
            </ul>
        </nav>
    </div><!-- Gallery Section 1 /- -->
    <div class="section-padding"></div>
    
    <!-- Subscribe Section -->
    <div class="subscribe-section container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="subscribe-content">
                <h3>SIGNUP TO OUR NEWSLETTER</h3>
                <div class=" col-md-6 col-sm-8 col-xs-10 input-group">
                    <input type="text" placeholder="Enter Your Email" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" title="Sign Up" class="btn btn-default">Subcribe</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div><!-- Container /- -->
    </div><!-- Subscribe Section /- -->
</main>

<% script('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js') -%>
<% script('/javascripts/client/blog/lib.js') -%>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE') -%>
<% script('/javascripts/client/blog/functions.js') -%>
