<% layout('../../../layouts/client/app') -%>
<% stylesheet('/stylesheets/client/blog/style.css') -%>


<main class="site-main page-spacing">
    <!-- Page Banner -->
    <div class="page-banner container-fluid no-padding">
        <div class="banner-content">
            <h3>Gallery</h3>
            <ol class="breadcrumb">
                <li><a href="index.html" title="Home">Home</a></li>							
                <li class="active">Gallery</li>
            </ol>
        </div>
    </div><!-- Page Banner /- -->
    
    <!-- Gallery Single Section -->
    <div class="gallery-single-section container-fluid no-padding">
        <div class="section-padding"></div>
        <!-- Container -->
        <div class="container">
            <div class="flexslider gallery-details-full">
                <ul class="slides">
                    <% product.forEach(item => { %>
                        <li>
                            <img src="<%= item.image_url %>" alt="large-thumb" width="900" height="500"/>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="flexslider gallery-details-thumb">
                <ul class="slides">
                    <% product.forEach(item => { %>
                        <li>
                            <img src="<%= item.image_url %>" alt="thumb" width="230" height="190"/>
                        </li>
                    <% });  %>
                </ul>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-6">
                <div class="info-box">
                    <h3>CREATED BY:<span><%= product[0].name  %></span></h3>
                    <h3>DATE OF CREATED:<span><%= moment(product[0].productCreated).format('MMM Do YYYY')%></span></h3>
                    <h3>PRICE (VND):<span><%= product[0].price %></span></h3>
                    <h3>PRODUCT TYPE:<span><%= product[0].product_type_name %></span></h3>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
                <div class="info-content">
                    <h3>information</h3>
                    <img src="/images/client/blog/quote-ic-3.png" alt="quote-ic" width="35" height="8" />
                    <p><%= product[0].description %></p>
                </div>
            </div>
        </div><!-- Container /- -->
        <div class="section-padding"></div>
    </div><!-- Gallery Single Section /- -->
    
    <!-- Subscribe Section -->
    <div class="subscribe-section container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="subscribe-content">
                <h3>SIGNUP TO OUR NEWSLETTER</h3>
                <div class=" col-md-6 col-sm-8 col-xs-10 input-group">
                    <input type="text" placeholder="Enter Your Email" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" title="Sign Up" class="btn btn-default">Subcribe</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div><!-- Container /- -->
    </div><!-- Subscribe Section /- -->
</main>


	
<% script('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js') -%>
<% script('/javascripts/client/blog/lib.js') -%>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE') -%>
<% script('/javascripts/client/blog/functions.js') -%>
