	<% layout('../../../layouts/client/app') -%>
	<% stylesheet('/stylesheets/client/blog/style.css') -%>
	
	<main class="site-main page-spacing">
		<!-- Page Banner -->
		<div class="page-banner container-fluid no-padding">
			<div class="banner-content">
				<h3>Gallery</h3>
				<ol class="breadcrumb">
					<li><a href="index.html" title="Home">Home</a></li>							
					<li class="active">Gallery</li>
				</ol>
			</div>
		</div><!-- Page Banner /- -->
		
		<!-- Gallery Section 1  -->
		<div class="gallery-section gallery-section-1 container-fluid no-padding">
		<div class="section-padding">
			<a class="btn btn-danger" href="/product/create">Create a new product</a>
		</div>
			<ul class="portfolio-list">
				<% productTypes.forEach(productType => { %>
					<a class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 3rem;" href="/product-type/<%= productType.product_type_slug %>"><h3> Product Type : <%= productType.product_type_name %></h3></a>
					<% products.forEach(product => { %>
						<% if (productType.product_type_name == product.product_type_name) { %>
						<li class="col-md-3 col-sm-4 col-xs-6">
							<div class="content-image-block">
								<img src="<%= product.image_url %>" class="img-fluid" alt="gallery" width="450" height="400">
								<div class="content-block-hover">
									<a href="/product/<%= product.product_type_slug %>/<%= product.product_slug %>" title="Link"><i class="icon icon-Search"></i></a>
									<h3><%= product.product_name %></h3>
									<p>Price: <%= product.price %> VND</p>
									<p>Provider: <%= product.username %></p>
								</div>
							</div>
						</li>
						<% } %>
					<% }) %>
				<% }) %>
			</ul>
		</div><!-- Gallery Section 1 /- -->
		<div class="section-padding"></div>
		
		<!-- Subscribe Section -->
		<div class="subscribe-section container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<div class="subscribe-content">
					<h3>SIGNUP TO OUR NEWSLETTER</h3>
					<div class=" col-md-6 col-sm-8 col-xs-10 input-group">
						<input type="text" placeholder="Enter Your Email" class="form-control">
						<span class="input-group-btn">
							<button type="button" title="Sign Up" class="btn btn-default">Subcribe</button>
						</span>
					</div><!-- /input-group -->
				</div>
			</div><!-- Container /- -->
		</div><!-- Subscribe Section /- -->
	</main>

	<% script('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js') -%>
	<% script('/javascripts/client/blog/lib.js') -%>
	<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE') -%>
	<% script('/javascripts/client/blog/functions.js') -%>
	