<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%=title%></title>
    <%-stylesheets%>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <% include ../../layouts/admin/partials/sidebar.ejs %>
        <% include ../../layouts/admin/partials/navbar.ejs %>
        <%-body%>
        <% include ../../layouts/admin/partials/footer.ejs %>
    </div>
</body>
<script src="/javascripts/vendor/jquery/jquery.min.js"></script>
<script src="/javascripts/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<%-scripts%>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
</html>